QCommandLinkButton {
    background-color: #80b3ff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
}

QCommandLinkButton:hover {
    background-color: #66a3ff;
}

QCommandLinkButton:pressed {
    background-color: #4d94ff;
}

QCommandLinkButton:focus {
    outline: none;
}

QCommandLinkButton::icon {
    margin-right: 10px;
}